<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.installment" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>装修分期</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="StatusBarBackgroundColor" value="#77CC99" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <preference name="StatusBarDefaultScrollToTop" value="false" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <edit-config file="*-Info.plist" mode="merge" target="NSCameraUsageDescription">
        <string>need camera access to take pictures</string>
    </edit-config>
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="ldpi" src="res/icon/android/icon-36-ldpi.png" />
        <icon density="mdpi" src="res/icon/android/icon-48-mdpi.png" />
        <icon density="hdpi" src="res/icon/android/icon-72-hdpi.png" />
        <icon density="xhdpi" src="res/icon/android/icon-96-xhdpi.png" />
        <icon density="xxhdpi" src="res/icon/android/icon-144-xxhdpi.png" />
        <icon density="xxxhdpi" src="res/icon/android/icon-196-xxxhdpi.png" />
        <allow-intent href="androidamap://*/*" />
        <allow-intent href="bdapp://*/*" />
        <allow-intent href="qqmap://*/*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <icon height="180" src="res/icon/ios/app_60pt@3x.png" width="180" />
        <icon height="60" src="res/icon/ios/icon-60.png" width="60" />
        <icon height="120" src="res/icon/ios/app_60pt@2x.png" width="120" />
        <icon height="76" src="res/icon/ios/app_76pt.png" width="76" />
        <icon height="152" src="res/icon/ios/app_76pt@2x.png" width="152" />
        <icon height="40" src="res/icon/ios/app7_40pt.png" width="40" />
        <icon height="80" src="res/icon/ios/app7_40pt@2x.png" width="80" />
        <icon height="57" src="res/icon/ios/icon-57.png" width="57" />
        <icon height="114" src="res/icon/ios/icon-57-2x.png" width="114" />
        <icon height="72" src="res/icon/ios/icon-72.png" width="72" />
        <icon height="144" src="res/icon/ios/icon-72-2x.png" width="144" />
        <icon height="29" src="res/icon/ios/app_29pt.png" width="29" />
        <icon height="58" src="res/icon/ios/app_29pt@2x.png" width="58" />
        <icon height="50" src="res/icon/ios/icon-50.png" width="50" />
        <icon height="100" src="res/icon/ios/icon-50-2x.png" width="100" />
    </platform>
    <plugin name="cordova-plugin-statusbar" spec="^2.4.3" />
    <plugin name="cordova-plugin-camera" spec="^4.1.0">
        <variable name="ANDROID_SUPPORT_V4_VERSION" value="27.+" />
    </plugin>
    <plugin name="cordova-plugin-dialogs" spec="^2.0.2" />
    <preference name="CameraUsesGeolocation" value="true" />
    <plugin name="cordova-plugin-media" spec="^5.0.3">
        <variable name="KEEP_AVAUDIOSESSION_ALWAYS_ACTIVE" value="NO" />
    </plugin>
    <plugin name="cordova-plugin-geolocation" spec="^4.0.2" />
    <plugin name="cordova-plugin-media-capture" spec="^3.0.3" />
    <plugin name="cordova-plugin-network-information" spec="^2.0.2" />
    <plugin name="cordova-plugin-device" spec="^2.0.3" />
    <plugin name="com.lampa.startapp" spec="https://github.com/lampaa/com.lampa.startapp.git" />
    <engine name="android" spec="^7.1.4" />
    <engine name="browser" spec="^5.0.4" />
    <engine name="ios" spec="^4.5.5" />
    <plugin name="cordova-plugin-inappbrowser" spec="^4.0.0" />
    <plugin name="cordova-plugin-appavailability" spec="^0.4.2" />
</widget>
